<html>
    <head>
    <title>Solrizer</title>
    </head>
    <body>
    <h1>Solrizer</h1>
    <form method="get" action="/doc">
        <div>
            <label>URI: <input name="uri" type="text" size="80"/></label>
        </div>
        <div>
        <label for="command">Command:</label>
        <select name="command">
            <option value=""></option>
            <option value="add">add</option>
            <option value="update">update</option>
        </select>
        </div>
        <div>
        <label for="indexers">Indexers:</label>
        <input type="text" id="indexers" name="indexers" size=40>
        </div>
        <button type="submit">Submit</button>
    </form>
    <hr/>
    <p id="version">{{ version }}</p>
    <script>
    document.querySelector("form").addEventListener("submit", function() {
        // Disable empty "input" fields, so they are not submitted as part
        // of the form.
        const inputs = this.querySelectorAll('input');

        inputs.forEach(input => {
            // If the trimmed value is empty, disable the field
            if (input.value.trim() === "") {
                input.disabled = true;
            }
        });
    });
    window.addEventListener('pageshow', function(event) {
        // Re-enable any "input" fields that were disabled on submission.
        // This is needed because Firefox persists the "disabled" state when
        // returning to the form using the browser's "Back" button.
        const inputs = document.querySelectorAll('input');

        inputs.forEach(input => { input.disabled = false });
        }
    );
    </script>
    </body>
</html>
